<div class="panel about-intro" uis-opacity>
    <div class="panel-text">
        <h2>Who We Are</h2>
        <p>We prepare students to excel in every industry though extensive training in network management, resume workshops and interview preparation.</p>
    </div>
</div>

<div class="container cf">
    <div class="about">

        <img class="photo-large" src="assets/img/uisteam.jpg" alt="UIS group photo">
        <div class="title-with-image cf">
            <img src="assets/img/icon_network.png" alt="Our Focus"><h3>Our Focus</h3>
        </div>
        
        <p>The Undergraduate Investment  (UIS) strives to empower UCSD students
        and the San Diego community with financial literacy and investment 
        knowledge to create successful future leaders in the business world.</p>
        
        
        <p>We implement this goal 
        through provision of financial seminars, networking events with industry
        professionals, and mentorship to high school students through our 
        philanthropy, MoneyThink, and to students of UCSD through our sister 
        organization, the Financial Professionals Network. We are proud to host 
        the school's largest annual finance conference, the Financial Horizons 
        Conference, that in the past 9 years has seen an increase of 
        professional, student, and alumni attendees. The Undergraduate 
        Investment Society holds the highest standards for its committee 
        members, meetings, and events to ensure that quality is consistent with 
        the expansion of the organization's success. We continuously add value 
        to our organization by building bridges with corporations, community 
        leaders, and other prominent figures within the financial world.</p>        
    </div>
</div>
