<div class="panel panel-conference" uis-opacity>
    <div class="panel-text">
        <h2>Financial Horizons</h2>
        <p>We equip students and members of the San Diego community with the <strong>financial</strong> and <strong>investment</strong> knowledge required to create successful future <strong>leaders of the business world</strong>.  </p>
        
    </div>
</div>

<div class="container cf">
    <div id="keynotes">
        <h3>Keynote Speakers</h3>
        <div class="half fl">
            <h4>
                <span class="name">Aryeh Bourkoff</span>
                <span class="role">CEO LionTree</span>
            </h4>
            <p>Ricotta feta cauliflower cheese. Pecorino queso edam chalk and cheese danish fontina airedale emmental monterey jack. Pepper jack cheese and biscuits parmesan bocconcini cow caerphilly paneer squirty cheese. Bavarian bergkase emmental bavarian bergkase parmesan stilton st. agur blue cheese hard cheese cheeseburger. Paneer.</p>
        </div>
        <div class="half fr">
            <h4>
                <span class="name">Aryeh Bourkoff</span>
                <span class="role">CEO LionTree</span>
            </h4>
            <p>Macaroni cheese lancashire red leicester. Feta jarlsberg halloumi cream cheese red leicester manchego dolcelatte queso. Lancashire cheesy feet cheeseburger emmental gouda rubber cheese edam chalk and cheese. When the cheese comes out everybody's happy cheeseburger danish fontina gouda cheddar swiss cheese on toast dolcelatte. Parmesan swiss feta.</p>
        </div>
    </div>
    
</div>