<div class="panel panel-conference" uis-opacity>
    <div class="panel-text">
        <h2>Financial Horizons Conference</h2>
        <h3>March 7, 2015</h3>
        <p>Southern California’s premier networking event for students looking to break into the finance industry</p>
        <a class="panel-button" href="https://docs.google.com/forms/d/1ceCZ7vL4Lb-CvX7Xvr5xuoKLfhFXT8gv-buHBKgZC1U" target="_blank">Register Today</a>
    </div>
</div>

<div class="conference-panel" id="workshop">
    <div class="container cf">
        <h3>Pre-Conference Networking Workshop</h3>
        <div class="third fl">
            <strong>Date</strong> Thursday. March 5, 2015 <br>
            <strong>Time</strong> 2:30pm - 3:30pm <br>
            <strong>Location</strong> Horizon Room <br>
            <strong></strong> @ the Career Services Center
            <strong>Dress Code</strong> Business Casual <br>
        </div>
        <div class="third2 fl">
            Master the art of networking under the guidance of Emmy Sobieski (CFA | Senior Financial Analyst at Nicholas Investment Partners) and Brian Frank ( VP Global Sales Operations at LinkedIn). Being able to network efficiently and effectively will allow you to expand your network and increases your odds of finding that desired internship or job.             
        </div>
    </div>
</div>

<div class="conference-panel" id="keynotes">
    <div class="container cf">
        <h3>Keynote Speakers</h3>
        <div class="half fl">
            <h4>
                <span class="name">Gary Jacobs                 <strong><span class="time">9:00 AM</span></strong></span>
                <span class="role"><strong>Managing Director</strong> / Jacobs Investment Company</span>

            </h4>
            <p>Gary Jacobs is the Managing Director of Jacobs Investment Company LLC (JIC).  JIC was created in 1997 to participate in real estate development throughout the United States.  Additionally, Mr. Jacobs is a Board of Director of New Generation Technology (NGT) Nazareth, a technology incubator that supports and invests in innovation-based businesses and Israeli Arab entrepreneurs primarily in the life sciences and medical devices.  Mr. Jacobs graduated in 1979 from the University of California at San Diego with a B.A. in Management Science.  </p>
            
        </div>
        <div class="half fl">
            <h4>
                <span class="name">Andy Nahas <span class="time">3:30 PM</span></span>
                <span class="role"><strong>Founder and President</strong> / The Prospect Fund</span>
            </h4>
            <p>Andy is Founder and President of The Prospect Fund, a proprietary investment fund which seeks to maximize returns in the stock market in a socially responsible manner and also use its financial and analytical resources to support causes such as human rights, animal welfare, quality of life initiatives for the elderly, and student leadership efforts.  The Prospect Fund is currently the #1 performing fund in its category (Stocks Only -  no short selling) for the ten years ended December 2014, according to BarclayHedge.</p>
        </div>        
    </div>
</div>

<div class="conference-panel">
    <h3>Financial Horizons Conference</h3>
    <div class="container cf pad-bot">
        <div class="half fl">
            Held every year at UCSD’s Rady School of Management, the conference brings together hundreds of students, professionals, and alumni for an exciting day of networking and education. Students are invited to participate in six interactive workshops led by distinguished professionals from a myriad of financial industries including investment banking, private equity, venture capital, accounting and more. 
        </div>
        <div class="half fr">
            <strong>Date</strong> Saturday, March 7, 2015 <br>
            <strong>Time</strong> 8am - 4:30pm <br>
            <strong>Location</strong> Rady School of Management, UCSD  <br>
            <strong></strong> (Beyster Hall and Wells Fargo Hall) <br>
            <strong>Dress Code</strong> Business Casual <br>
        </div>
    </div>
    
    
    <div class="container pad-top cf">
        <div class="conference-block fl">
            <h4><span class="time">10am</span> Morning Workshop</h4>
            
            <strong>Investment Banking</strong>
            <p>Takayoshi Weisner (Morgan Stanley), Sherman Lau (Barclays)</p>
            
            <strong>Consulting</strong>
            <p>Jason Emmons (Deloitte), Karen Zhang (Deloitte Digital), Elviana Thio (FTI Consulting)</p>            
        </div>
        <div class="conference-block fr">
            <h4><span class="time">11am</span> Afternoon Workshop</h4>
            
            <strong>Investment Management</strong>
            <p>Tom Schwartz (Goldman Sachs) , Michael Yee (Allianz), Mike Press (Pontus Capital)</p>
            
            <strong>Private Equity/Venture Capital</strong>
            <p>Brian Sanderson (Gateway), John Engle (57 Stars LLC), Bryan Kim (Aurora Capital)</p>                 
        </div>
        <div class="conference-block fl">
            <h4><span class="time">1:30pm</span> Technology Panel</h4>
            
            <strong>Assorted Panel</strong>
            <p>Ha Ly (Yahoo), Tiffany Stone (SOLS), Linda Xie (Coinbase), Royan Kamyar (Owaves), Vignesh Ravikumar (Sierra Ventures), Andrew Radin (twoXAR)</p>
            
        </div>
        <div class="conference-block fr">
            <h4><span class="time">2:30pm</span> Afternoon Workshop</h4>
            
            <strong>Corporate Finance</strong>
            <p>Matthew Pakkala (World Oil), Phil Gibbs (Morgan Stanley)</p>
            
            <strong>Equities</strong>
            <p>Eric Trux (MUFG Union Bank), Greg Magadini (DRW Trading Group), Phil Rasori (MCT Trade)</p>                 
        </div>
    </div>
</div>

<div class="container center">
    <a class="panel-button in-body" href="https://docs.google.com/forms/d/1ceCZ7vL4Lb-CvX7Xvr5xuoKLfhFXT8gv-buHBKgZC1U/edit" target="_blank">Register Now</a>
</div>