<div class="panel panel-conference" uis-opacity>
    <div class="panel-text">
        <h2>Financial Horizons</h2>
        <h3>March 6, 2015</h3>
        <p>Southern California’s premier networking and education event for students looking to break into finance and professionals seeking to recruit new talent</p>
        <a class="panel-button" href="https://adobeformscentral.com/?f=lBQF0Bu5MOR3GEYXx30ZtQ" target="_blank">Register Today</a>
    </div>
</div>

<div class="conference-panel" id="keynotes">
    <div class="container cf">
        <h3>Keynote Speakers</h3>
        <div class="third fl">
            <h4>
                <span class="name">Gary Jacobs</span>
                <span class="role">Opening Keynote | Role Here</span>
            </h4>
            <p>Ricotta feta cauliflower cheese. Pecorino queso edam chalk and cheese danish fontina airedale emmental monterey jack. Pepper jack cheese and biscuits parmesan bocconcini cow caerphilly paneer squirty cheese. Bavarian bergkase emmental bavarian bergkase parmesan stilton st. agur blue cheese hard cheese cheeseburger. Paneer.</p>
        </div>
        <div class="third fl">
            <h4>
                <span class="name">Pradeep Khosla</span>
                <span class="role">Middle Keynote | Chancellor</span>
            </h4>
            <p>Macaroni cheese lancashire red leicester. Feta jarlsberg halloumi cream cheese red leicester manchego dolcelatte queso. Lancashire cheesy feet cheeseburger emmental gouda rubber cheese edam chalk and cheese. When the cheese comes out everybody's happy cheeseburger danish fontina gouda cheddar swiss cheese on toast dolcelatte. Parmesan swiss feta.</p>
        </div>
        <div class="third fl">
            <h4>
                <span class="name">Andy Nahas</span>
                <span class="role">Closing Keynote | Role here</span>
            </h4>
            <p>Macaroni cheese lancashire red leicester. Feta jarlsberg halloumi cream cheese red leicester manchego dolcelatte queso. Lancashire cheesy feet cheeseburger emmental gouda rubber cheese edam chalk and cheese. When the cheese comes out everybody's happy cheeseburger danish fontina gouda cheddar swiss cheese on toast dolcelatte. Parmesan swiss feta.</p>
        </div>        
    </div>
</div>

<div class="conference-panel">
    <div class="container cf">
        <h3>Pre-Conference Networking Workshop</h3>
        <div class="third fl">
            <strong>Date</strong> Thursday. March 5, 2015 <br>
            <strong>Time</strong> 3pm - 4pm <br>
            <strong>Location</strong> TBA <br>
            <strong>Dress Code</strong> Business Casual <br>
        </div>
        <div class="third2 fl">
            Macaroni cheese lancashire red leicester. Feta jarlsberg halloumi cream cheese red leicester manchego dolcelatte queso. Lancashire cheesy feet cheeseburger emmental gouda rubber cheese edam chalk and cheese. When the cheese comes out everybody's happy cheeseburger danish fontina gouda cheddar swiss cheese on toast dolcelatte. Parmesan swiss feta.
        </div>
    </div>
</div>

<div class="conference-panel">
    <h3>Financial Horizons Conference</h3>
    <div class="container cf pad-bot">
        <div class="half fl">
            Macaroni cheese lancashire red leicester. Feta jarlsberg halloumi cream cheese red leicester manchego dolcelatte queso. Lancashire cheesy feet cheeseburger emmental gouda rubber cheese edam chalk and cheese. When the cheese comes out everybody's happy cheeseburger danish fontina gouda cheddar swiss cheese on toast dolcelatte. Parmesan swiss feta.
        </div>
        <div class="half fr">
            <strong>Date</strong> Thursday. March 6, 2015 <br>
            <strong>Time</strong> 8am - 4:30pm <br>
            <strong>Location</strong> Rady School of Management, UCSD  <br>
            <strong></strong> (Beyster Hall and Wells Fargo Hall) <br>
            <strong>Dress Code</strong> Business Casual <br>
        </div>
    </div>
    
    
    <div class="container pad-top cf">
        <div class="conference-block fl">
            <h4><span class="time">10am</span> Morning Workshop</h4>
            
            <strong>Investment Banking</strong>
            <p>Takayoshi Weisner (Morgan Stanley), Sherman Lau (Barclays)</p>
            
            <strong>Consulting</strong>
            <p>Jason Emmons (Deloitte), Karen Zhang (Deloitte Digital), Elviana Thio (FTI Consulting)</p>            
        </div>
        <div class="conference-block fr">
            <h4><span class="time">11am</span> Afternoon Workshop</h4>
            
            <strong>Investment Management</strong>
            <p>Tom Schwartz (Goldman Sachs) , Michael Yee (Allianz), Mike Press (Pontus Capital)</p>
            
            <strong>Private Equity/Venture Capital</strong>
            <p>Brian Sanderson (Gateway), John Engle (57 Stars LLC), Bryan Kim (Aurora Capital)</p>                 
        </div>
        <div class="conference-block fl">
            <h4><span class="time">1:30pm</span> Technology Panel</h4>
            
            <strong>Assorted Panel</strong>
            <p>Ha Ly (Yahoo), Tiffany Stone (SOLS), Linda Xie (Coinbase), Royan Kamyar (Owaves), Vignesh Ravikumar (Sierra Ventures), Andrew Radin (twoXAR)</p>
            
        </div>
        <div class="conference-block fr">
            <h4><span class="time">2:30pm</span> Afternoon Workshop</h4>
            
            <strong>Corporate Finance</strong>
            <p>Matthew Pakkala (World Oil), Phil Gibbs (Morgan Stanley)</p>
            
            <strong>Equities</strong>
            <p>Eric Trux (MUFG Union Bank), Greg Magadini (DRW Trading Group), Phil Rasori (MCT Trade)</p>                 
        </div>
    </div>
</div>

<div class="container center">
    <a class="panel-button in-body" href="https://adobeformscentral.com/?f=lBQF0Bu5MOR3GEYXx30ZtQ#" target="_blank">Register Now</a>
</div>