<div class="panel panel-executive" uis-opacity>
    <div class="panel-text">
        <h2>Executive Team</h2>
    </div>
</div>
    <div class="executive-panel">
        <div class="container cf">
            <h3>Our Executive Board</h3>
            
            <div class="executive-member third fl" ng-repeat="member in members">
                <a target="_blank" href="{{member.url}}">
                    <div ng-mouseenter="member.show = true" ng-mouseleave="member.show = false"  class="exec-photo">
                        <div class="photo-overlay" ng-show="member.show" >
                        </div>
                        <div class="fx-zoom-normal overlay-caption" ng-show="member.show">
                            <span>See my <strong>LinkedIn</strong></span> 
                        </div>
                        <img class="mugshot" src="{{member.photo}}">
                    </div>
                        
                    <img class="icon-linkedin" src="assets/img/icon-linkedin.png" ng-class="{hover: member.show}">                    
                </a>
                <h2>{{member.name}}</h2>
                <p>{{member.role}}</p>
            </div>
            
            <!-- ^ not this -->

            <!--<div class="executive-member third fl">-->
            <!--    <div class="exec-photo">-->
            <!--        <img src="assets/img/exec_jiayizeng.jpg">-->
            <!--    </div>-->
            <!--    <h2>Jiayi Zeng</h2> -->
            <!--    <p>VP Internal</p>-->
            <!--</div>-->
            
            <!--<div class="executive-member third fl">-->
            <!--    <div class="exec-photo">-->
            <!--        <img src="assets/img/exec_mohammed.jpg">-->
            <!--    </div>-->
            <!--    <h2>Mohammed Alyasini</h2> -->
            <!--    <p>Co-VP Research and Education</p>-->
            <!--</div>-->
            
            <!--<div class="executive-member third fl">-->
            <!--    <div class="exec-photo">-->
            <!--        <img src="assets/img/exec_giovanni.jpg">-->
            <!--    </div>-->
            <!--    <h2>Giovanni Ugut</h2> -->
            <!--    <p>Co-VP Research and Education</p>-->
            <!--</div>-->
            
            <!--<div class="executive-member third fl">-->
            <!--    <div class="exec-photo">-->
            <!--        <img src="assets/img/exec_jasonmasong.jpg">-->
            <!--    </div>-->
            <!--    <h2>Jason Masong</h2> -->
            <!--    <p>Co-VP External - Sponsors</p>-->
            <!--</div>-->
            
            <!--<div class="executive-member third fl">-->
            <!--    <div class="exec-photo">-->
            <!--        <img src="assets/img/exec_jocelyn.jpg">-->
            <!--    </div>-->
            <!--    <h2>Jocelyn Ueng</h2> -->
            <!--    <p>Co-VP External - Speakers</p>-->
            <!--</div>-->
            
            <!--<div class="executive-member third fl">-->
            <!--    <div class="exec-photo">-->
            <!--        <img src="assets/img/exec_dom.jpg">-->
            <!--    </div>-->
            <!--    <h2>Dominick Suvonnasupa</h2> -->
            <!--    <p>Director of Campus Relations</p>-->
            <!--</div>-->
            
            <!--<div class="executive-member third fl">-->
            <!--    <div class="exec-photo">-->
            <!--        <img src="assets/img/exec_default.jpg">-->
            <!--    </div>-->
            <!--    <h2>Dorothy Chow</h2> -->
            <!--    <p>Director of Marketing</p>-->
            <!--</div>-->
            
            <!--<div class="executive-member third fl">-->
            <!--    <div class="exec-photo">-->
            <!--        <img src="assets/img/exec_jeffreyshu.jpg">-->
            <!--    </div>-->
            <!--    <h2>Jeffrey Shu</h2> -->
            <!--    <p>Director of Human Resource and Technology</p>-->
            <!--</div>-->
            
            <!--<div class="executive-member third fl">-->
            <!--    <div class="exec-photo">-->
            <!--        <img src="assets/img/exec_default.jpg">-->
            <!--    </div>-->
            <!--    <h2>Roohani Arora</h2> -->
            <!--    <p>Director of Finance</p>-->
            <!--</div>-->
        
        </div>
    </div>
        <!--<We equip students and members of the San Diego community with the <strong>financial</strong> and <strong>investment</strong> knowledge required to create successful future <strong>leaders of the business world</strong>.  </p>-->
        
        <!--<a class="panel-button" href="#/about">Learn More</a>-->
    </div>
</div>
