<div class="panel-intro" uis-opacity>
    <div class="panel-text">
        <h2>Our <strong>Mission</strong></h2>
        <p>We equip students and members of the San Diego community with the <strong>financial</strong> and <strong>investment</strong> knowledge required to create successful future <strong>leaders of the business world</strong>.  </p>
        <button>
            Learn More
        </button>
    </div>
</div>
<div class="detail-panel">
	<div class="detail-container">
		<div class="detail-icon" ng-repeat="icon in icons" ng-show="displayIcons" uis-show-on-scroll></div>			
	</div>
</div>