<div class="panel-intro" uis-opacity>
    <div class="container">
        <div class="panel-text">
            <h2>Our Mission</h2>
            <p>To improve financial literacy <br> within the community</p>
            <button>
                Don't Click Here
            </button>
        </div>
    </div>
</div>
<div class="detail-panel">
	<div class="detail-container">
		<div class="detail-icon">

		</div>
		<div class="detail-icon">

		</div>
		<div class="detail-icon">

		</div>				
	</div>
</div>