<div class="panel panel-intro" uis-opacity>
    <div class="panel-text">
        <h2>Our Mission</h2>
        <p>We equip students and members of the San Diego community with the <strong>financial</strong> and <strong>investment</strong> knowledge required to create successful future <strong>leaders of the business world</strong>.  </p>
        
        <a class="panel-button" href="#/about">Learn More</a>
    </div>
</div>
<div class="detail-panel">
	<div class="container cf">
		<div class="detail-icon fl" ng-repeat="icon in icons">
		    <!-- icon -->
		    <img src="{{icon.img}}" alt="{{icon.title}}">
		    <strong>{{icon.title}}</strong>
		    <p>{{icon.description}}</p>
		</div>			
	</div>
</div>
<div class="container cf">
    <!-- Upcoming events bar on the left -->
    <div class="upcoming-event fl">
        <h3>Upcoming Events</h3>
        <div ng-controller="EventsCtrl">
            <div ng-repeat="event in events" class="single-event">
                 <!-- Use this area to style each event 
                      Avoid the <br> tag if possible, use css instead -->
                 
                     <h4>{{event.summary}}</h4>
                    <span class="time">{{event.time}}</span><br>              
                    <span class="location">{{event.location}}</span><br>                    
                    <span class="description">{{event.description}}</span>
                    
                    

                     <!--<a href="#/calendar">View Calender &raquo;</a><br><br>-->
                     <a ng-show="event.fb" class="rsvp" href="{{event.fb}}">RSVP</a>
                 
             </div>
             
        </div>
      
    </div>
    <!-- Main feature (conference) -->
    <div class="main-feat fr">
        <h3>Financial Horizons Conference</h3>
        <img class="main-feat-img" src="/assets/img/registration.jpg" alt="Conference registration">        
        <p>this is were stuff would go if I had stuff, but I don't 
        have stuff yet. so deal with it. I'm kinda hungry. I should
        have uses an lorem ipsum generator. Oh well, too much effort.</p>
    </div>
</div>