<script>
    $(document).ready(function() {
            var p = $("#gallery").portfolio({
                height: '100px'
            });
            p.init();
            
            var gallery = $('#gallery');
                
    });
</script>


<div class="panel panel-recruiting" uis-opacity>
    <div class="panel-text">
        <h2>Recruiting</h2>
        <p>UIS has made a definitive, positive impact on the careers of our members. Just listen to what they have to say!</p>
    </div>
</div>

<div class="container cf">
    <div class="membership">
        <div class="container cf">
            <h3>Success Stories</h3>
            <div class="success-story third fl">
                <div class="exec-photo">
                    <img class="mugshot" src="assets/img/exec_mohammed.jpg">
                </div>                
                <h4 class="center">
                    <span class="name">Nabil Hamade</span>
                    <span class="role">RA Capital Advisors</span>
                </h4>
                <p>My name is Nabil Hamade and I am currently a sophomore attending the University of California San Diego. Finance is my passion, and I am hoping to work in investment banking upon graduation. Currently, I am supplementing my academic work with an internship at a middle-market investment bank called RA Capital Advisors in Del Mar. It has been great learning about the deal-making process both on a macro level, as well as diving into the nitty-gritty of the technical analysis needed to value a company. In the Spring, I will be joining a growth equity firm called JMI Equity, where I look forward to covering the technology industry (with a software focus). </p>
            </div>
            <div class="success-story third fl">
                <div class="exec-photo">
                    <img class="mugshot" src="assets/img/exec_michellesou.jpg">
                </div>        
                <h4 class="center">
                    <span class="name">Janis Ho</span>
                    <span class="role">JP Morgan</span>
                </h4>                
                <p>Born and raised in Hong Kong, I aspire to break into the world of investment banking ever since my participation in an investment competition in high school. In the past years, I have held internships in boutique wealth management and brokerage firms. As an international student from a non-target university, I have to work extra miles to achieve my goal.  Being a part of UIS, I witness myself grow both personally and professionally.  My mentors guided me along the journey of jobs search, professional networking and interview rounds.  Most importantly, I became capable of presenting myself in a confident manner. This summer, I will be a Summer Analyst at J.P Morgan Prime Trading Division in Hong Kong.</p>
            </div>
            <div class="success-story third fl">
                <div class="exec-photo">
                    <img class="mugshot" src="assets/img/exec_jeffreyshu.jpg">
                </div>                
                <h4 class="center">
                    <span class="name">Jeffrey Shu</span>
                    <span class="role">Barclays</span>
                </h4>                
                <p>I am a third year International Studies Economics Major with a Minor in Business Finance. This past summer I studied abroad at Fudan University in Shanghai while working at Ivy Capital, a private equity shop. Currently I am a teaching assistant through the Rady School of Management. This upcoming summer I will be working as a summer analyst with Barclays Investment Bank in their TMT group based out of Menlo Park. I was also part of the UCSD Track and Field team throwing shot put and discus for two years. In my spare time I enjoy playing basketball and taking adventures around San Diego.
                </p>
            </div>  
            
            </div>
            
            <div class="divider"></div>
            
            <h3>Our Sponsors</h3>
            <div id="gallery">
                <img data-src="assets/img/logo/ucsd.gif" />
                <img data-src="assets/img/logo/alumni.png" />
                <img data-src="assets/img/logo/cfa_society.jpg" />
                <img data-src="assets/img/logo/chase-logo.png" />
                <img data-src="assets/img/logo/ebb_logo.png" />
                <img data-src="assets/img/logo/illumination.png" />
                <img data-src="assets/img/logo/peets.png" />
                <img class="dark" data-src="assets/img/logo/rady-logo.png" />
                <img data-src="assets/img/logo/ralphs.png" />
                <img data-src="assets/img/logo/kaplan.gif" />
                <img data-src="assets/img/logo/starbucks.png" />
                <img data-src="assets/img/logo/trader_joes.png" />
                <img data-src="assets/img/logo/wells_fargo.jpeg" />
                <img data-src="assets/img/logo/whole_foods.jpg" />
            </div>
            
            <div class="divider"></div>
            
            <h3>Our Members</h3>
            <div class="cf">
            <div class="half fl">
                <h5>External Committee Members:</h5>
                <p>
                Theresa Wong,
                Nabil Hamade,
                Shawn Jubran,
                Christian Rock,
                Bryan Guan,
                Niki Mahurin,
                Jerry Chu,
                Kam Yan Ho (Janis),
                Dana Webster,
                Leo Yang,
                Sarah Yeung,
                Ellen Kim,
                Katherine So,
                Kimberly Phan,
                Lim Nhep,
                Diego Ruju
                </p>
            </div>
            
            <div class="half fl">
                <h5>Research & Education Committee Member:</h5>
                <p>
                Tian Leng,
                Michael Ma,
                Chris Barnes,
                Chris Hermandez,
                Alexey Voronin,
                Timothy Huang,
                Amanda Fong,
                Jose Pedro Cachedo,
                Siyang Wang,
                Kyle Yu,
                Brian Dzou
                </p>
            </div>
            </div>
            
            <h3 style="padding-top: 40px">How to Apply</h3>
            <p>UIS recruits new officers in Fall and Spring Quarters each year. Please join our first GBMs in those quarters to find out more about UIS and details of the recruiting process. A copy of your updated resume, cover letter as well as your latest transcript are required to submit the application. Shortlisted candidates will be invited to interview after we carefully review each application. You do NOT have to have previous experience in Finance to get into UIS. However, be sure to read our website and talk to as many UIS members as possible to find out more about us before going into the interview. 
            </p>
    
            <p>Candidate could apply to External, Research & Education, or both.</p>
            </ul>
            
            
        </div>
    </div>
</div>,