<!DOCTYPE HTML>

<html lang="en" ng-app="uis">
	<head>
		<title>UCSD Undergraduate Investment Society</title>
		<meta charset="utf-8">
		<meta name="description" content="The Undergraduate Investment Society at UCSD"> 
		<base href="/app/">

		<!-- ANGULARJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>	
		<script src="https://code.angularjs.org/1.2.0/angular-resource.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.js"></script>			

		<!-- CSS -->
		<link rel="stylesheet" href="/assets/css/font.css">
		<link rel="stylesheet" href="/assets/css/master.css">
		<link rel="stylesheet" href="/assets/css/animations.css">		

		<!-- SCRIPTS -->
		<script src="js/animations.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/directives.js"></script>		
		<script src="js/filters.js"></script>
		<script src="js/services.js"></script>	
		<script src="app.js"></script>
		
		<!-- EXTERNAL -->
		<script src="https://apis.google.com/js/client.js?onload=onGapiLoad"></script>		
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		

	</head>
	<body>
		<header ng-controller="NavCtrl" locknav>
			<div class="cf">
				
				<h1>
					<a href="#/home">
						<img id="logo" src="/assets/img/logo.png" alt="Undergraduate Investment Society">
						<span class="title">Undergraduate Investment Society</span>
					</a>
				</h1>
				<nav>
					<ul>
						<li ngClass="{active: isActive('home')}">
							<a href="#/home">Home</a>
						</li>
						<li>
							<a href="#/about">About</a>
						</li>		
						<li>
							<a href="#/recruiting">Recruiting</a>
						</li>								
						<li>
							<a href="#/conference">Conference</a>
						</li>	
						<li>
							<a href="#/calendar">Calendar</a>
						</li>
						<li>
							<a href="#/contact">Contact</a>
						</li>						
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<div ng-view class="view">
				
			</div>

		    <div id="conference-form" class="container" ng-show="location.path() === '/conference'">

		        <script type="text/javascript" src="https://formscentral.acrobat.com/Clients/Current/FormsCentral/htmlClient/scripts/adobe.form.embed.min.js"></script>
		        <script type="text/javascript">;ADOBEFORMS.EmbedForm({formId:"lBQF0Bu5MOR3GEYXx30ZtQ"});</script>
		    </div>			
			
		</div>
		
		<footer class="cf" ng-controller="FooterCtrl">
			<div class="container cf">
				<div class="fl">
					<h1>Drop a Message</h1>
					<p>Questions or comments? Fill out this form and we'll get back to you as soon as we can!</p>
					
					<span class="form-message" ng-show="formSubmitted">Your message has been sent!</span>
					<form name="contact">
					<div class="wrap3 fl">
						<div class="field">
							<label for="contact-name">Name</label>
							<input required name="contact-name" type="text" placeholder="Tell us who you are!" ng-model="contact.name"></input>
						</div>
						
						<div class="field">
							<label for="contact-email">Email</label>
							<input required name="contact-email" type="email" placeholder="yourname@mail.com" ng-model="contact.email"></input>
						</div>
					</div>
					<div class="wrap3 fl">
						
						<div class="field message-field">
							<label for="contact-message">Message</label>
							<textarea name="contact-message" required ng-model="contact.message" placeholder="Hi, I just wanted to say..."></textarea>
						</div>
						<input type="submit" value="Submit" ng-click="send(contact)"></input>
					</div>
					</form>
				</div>
				<div class="wrap3 fr">
					<h1>Contact Us</h1>
					<p>Blah blah blah address here</p>
					<div id="gmap" google-map>
						
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>