/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*********************************************
 * Structure
 *********************************************/
body {
    min-height: 1000px;
    overflow-x: hidden;
}
body, p, a {
    font: normal 14px 'Droid Sans', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}
.container {
    margin: auto;
    width: 1024px;
}
.half {
    width: 492px;
    padding: 0 20px 0 0;
}
.half:last-child {
    padding: 0 0 0 20px;
}
.third {
    width: 320px;
    padding: 0 20px 0 0;
}
.third2 {
    width: 640px;
    padding: 0 20px;
}
.third:last-child {
    padding: 0;
}
h3 {
    color: #0e5686;
    font: normal 64px 'Gotham Condensed', 'Droid Sans', Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0 0 30px;
}
h4 {
    font: 100 48px 'Gotham Condensed', Helvetica, Arial, sans-serif;
}
a {
    color: #0e5686;
    text-decoration: none;
}
a:focus {
    outline: 0;
}
#content {
    min-height: 500px;
}
#content .view > .container {
    padding: 40px 0;
}

/*********************************************
 * Header
 *********************************************/
 
 header {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 5;
 }
 header h1, header a {
    font: normal 24px 'Gotham Condensed', 'Droid Sans', Helvetica, Arial, sans-serif;     
 }
 header h1 {
    display: inline-block;
    float: left;
 }
 header nav {
    float: right;
    text-align: right;
    padding: 0 10px;
 }
 header li {
    border: 1px solid transparent ;       
     display: inline-block;
     padding: 0 15px;
 }
 header nav {
    text-transform: uppercase;     
 }
 header nav a {
    color: #e0ffff;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
 }
 header nav .active a {
     border-bottom: 5px solid #fbb548;
 }
 header nav li:hover {
     border: 1px solid #fbb548 ;
 }
 header.fixed li:hover {
     background: #fbb548;
     color: #0e5686;
 }
 header li.active:hover {
     background: transparent;
     border: 1px solid transparent;
 }
 header .title {
     float: left;
     font-size: 24px;
     text-transform: none;
     width: 85px;
     padding: 10px 0;
 }
 header h1 a {
    color: #FFF;
 }
 header h1 a:hover {
     border: 1px solid transparent;
     color: #e0ffff;
 }
 #logo {
     float: left;
     height: 80px;
     padding: 10px 20px;
 }

 /*********************************************
 * Pages
 *********************************************/
.panel {
     background-size: cover;   
     border-bottom: 15px solid #fbb548;
     height: 600px;
     text-align: center;       
}
.panel-text {
     color: #FFF;
     display: inline-block;
     padding-top: 100px;
     width: 740px;
 }
 .panel-text h2 {
    color: #FBB548;
    display: inline-block;
    font: normal 140px 'Gotham Condensed', Helvetica, Arial, sans-serif;
    padding: 0 15px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    letter-spacing: -0.05em;
 }

 .panel-text p {
    padding: 10px;
    font: normal 20px 'Droid Sans', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
 }
 .panel-text p strong {
    color: #EEE;
    font-weight: bold;
 }
 .panel-button.in-body {
     background: #fbb548;
     margin: auto;
 }
 .panel-button {
     background: rgba(0, 0, 0, 0.2);
     border: 1px solid #FFF;
     color: #FFF;
     display: inline-block;
     font: bold 24px 'Droid Sans', Helvetica, Arial sans-serif;
     margin: 20px 0;
     padding: 20px;
     letter-spacing: 1px;
     text-transform: uppercase;
 }
 .panel-button:hover, .panel-button.in-body:hover {
     background: #025682;
     color: #FFF;
 }
.title-with-image {
    margin: 20px 0;
}
.title-with-image img {
    height: 80px;
    width: 80px;
    float: left;
}
.title-with-image h3 {
    line-height: 80px;
    float: left;
    padding: 0 20px;
    margin: 0;
}
 
 /*********************************************
 * Home
 *********************************************/
 
 .panel-intro {
     background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0 ,0, 0.3)),
                url('../img/writing.jpg') 50% 40% #0e5686;
 }

 .detail-panel {
     border-bottom: 15px solid #FBB548;
     padding: 40px 0 60px 0;
 }
 .detail-icon {
    display: inline-block;
    width: 300px;
    margin: 0 20px;
    text-align: center;
 }
.detail-icon img {
    max-height: 100%;
    display: block;
    width: 150px;
    height: 150px;
    opacity: 0.8;
    margin: auto;
    padding: 20px 0;
}
.detail-icon strong {
    color: #FBB548;
    font: normal 48px 'Gotham Condensed', 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
    text-transform: uppercase;
}
.detail-icon p {
    color: #000;
    font: 100 24px 'Gotham Condensed', 'Droid Sans', 'Helvetica', Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 .upcoming-event{
     display: block;
     height: 100%;
     float: left;
     padding: 0 20px 0 15px;
     width: 320px;
 }
.upcoming-event h3 {
    font: 100 48px 'Gotham Condensed', 'Droid Sans', Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
}
 .upcoming-event h4{
     color: #025682;
     font: normal 32px 'Gotham Condensed','Droid Sans', Arial, sans-serif;   
 }
 .rsvp{
    background: #025682;
    display: inline-block;
    padding: 5px 15px;
    font: normal 18px 'Droid Sans', Arial, sans-serif;
    color: #fff;
 }
 .rsvp:hover {
    background: #fbb548;
 }
 .single-event {
     margin: 20px 0;
     padding: 0 15px;
 }
 .single-event:nth-child(even){
     border-left: 20px solid #fbb548;
 }
 .single-event:nth-child(odd){
     border-left: 20px solid #025682;
 }
.single-event .location {
    color: #444;
    font: bold 12px 'Droid Sans', Arial, sans-serif;
 }
.single-event .time {
    color: #025682;
    font: 100 24px 'Gotham Condensed', 'Droid Sans', Arial, sans-serif;
}
 .single-event .description {
     font-size: 13px;
 }
 
 .main-feat{
     border-left: 1px solid #333;     
     width:620px;
     padding: 0 0 0 40px;
 }
 .main-feat-img {
    max-width: 100%;    
 }
 
/*********************************************
 * Conference
 *********************************************/
 .panel-conference {
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('../img/moat.jpg') 50% 28% #0e5686;
  } 
 #keynotes {
     border-bottom: 10px solid  #fbb548;     
 }
 .conference-panel {
     border-bottom: 1px solid #CCC;
     padding: 40px 0 60px 0;
 }
 .conference-panel h4 {
     padding: 10px 0;
 }
 .conference-panel .role {
     color: #333;
     display: block;
     font: normal 24px 'Gotham Condensed', Helvetica, Arial, sans-serif;
 }
 .conference-panel p {
     padding: 10px 0;
 }
 .conference-panel strong {
     font-weight: bold;
     color: #025682;
     display: inline-block;
     width: 100px;
     text-align: right;
     padding: 0 20px 0 0;
 }
.conference-block {
     background: #FFD8A0;
     height: 230px;
     width: 460px;
     padding: 15px;
     margin: 0 15px 30px 0;
}
.conference-block h4 {
    color: #025682;     
}
.conference-block .time {
     font: normal 48px 'Gotham Condensed', 'Droid Sans', Helvetica, Arial, sans-serif;
     padding: 0 20px 0 0;
}
.conference-block strong {
    text-align: left;
    width: auto;
}
 
/*********************************************
 * Footer
 *********************************************/
 
 footer {
     background: #025682;
     border-top: 10px solid #fbb548;
     display: inline-block;
     padding: 40px 0;
     width: 100%;
 }
 footer label, footer p {
     font: normal 13px 'Droid Sans', Helvetica, Arial, sans-serif;
 }
 footer p {
     color: #FBB548;
 }
 footer label {
     color: #FFF;
     font-weight: bold;
     line-height: 32px;     
 }
 footer h1 {
     color: #fbb548;
     font: normal 48px 'Gotham Condensed', Helvetica, Arial, sans-serif;
     padding: 0 0 10px 0;
 }
 footer .field {
     padding: 20px 0;
 }
 footer .message-field {
     padding: 18px 0 0 0;
 }
 footer input, footer textarea {
     border: 1px solid #333;
     padding: 5px;
     width: 96%;
 }
 footer input:focus, footer textarea:focus {
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }
 footer input {
     font-size: 18px;
 }
 footer input[type='submit'] {
     background: transparent;
     border: 1px solid #FBB548;
     color: #FBB548;
     float: right;
     margin: 15px 0;
     width: 100px;
 }
 footer textarea {
     height: 130px;
 }
 .form-message {
     border: 1px solid #FFF;
     color: #FFF;
     display: block;
     padding: 10px;
     margin: 20px 0;
 }
 
 /** Map **/
 
 #gmap {
     border: 1px solid #FFF;
     width: 100%;
     height: 200px;
     margin: 20px 0;
 }
 
 
.wrap3 {
     width: 300px;
     min-height: 300px;
     padding: 0 30px 0 0;
}
.wrap3:last-child {
    padding: 0;
}

 /*********************************************
 * About
 *********************************************/
 
 .about-intro {
     background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0 ,0, 0.3)),
                url('../img/typing.jpg') 50% 40% #0e5686;
 }
.about {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/*.about h2{*/
/*    font: bold small-caps 48px 'Gotham Condensed', 'Droid Sans', Helvetica, Arial, sans-serif;*/
/*      text-align: left;*/
/*      margin: 100px 0 15px;*/
/*}*/

.photo-large {
    border: 1px solid #0e5686;
    display: block;
    padding: 10px;
    margin: 40px 0;
    width: 100%;
}
.about p {
    line-height: 2;
    font-size: 18px;
    padding: 10px 0;
}

 /**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.pad-top {
    padding-top: 20px;
}
.pad-bot {
    padding-bottom: 20px;
}
.center {
    margin: auto;
    text-align: center;
}